/*Limpando as formatações Padrões*/

*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
    background: #e6e6e6;
}

/*Area do Cabeçalho*/

#area-cabecalho {
    background: #6495ED;
    padding: 15px;
    text-align: center;
}

#area-logo {
    padding: 10px;
}

/* Formatação do Menu*/

#area-menu, #area-menu {
    padding: 10px;
}

h1 {
    color: #FFFAFA;
    font-size: 3.0em;
    font-family: 'Single Day', cursive;
}

.branco {
    color: white;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #4169E1;
}

a:hover {
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #FFF;
    padding: 8px 12px;
}

#area-cabecalho a:hover {
    color: #4169E1;
    background: white;
    text-decoration: none;
}

/* AREA DE POSTAGENS DE NOTICIAS*/

#area-principal {
    width: 920px;
    margin: 0 auto;
}

#area-postagens {
    width: 660px;
    float: left;
}

h2 {
    color: #4169E1;
}


.datapost {
    font-size: 0.8em;
    border-bottom: 1px solid #4169E1;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.postagens {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}


/*Conteúdo Lateral do Site*/

#area-lateral {
    width: 240px;
    float: right;
}

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

h3 {
    color: #565656;
    background: #87CEEB;
    padding: 5px;
}

.post-left {
    font-size: 0.8em;
    padding: 5px;
   /* border-bottom: 1px dotted #f7b600;*/
}

.link {
    font-size: 1.0em;
    padding: 5px;
}

/*RODAPE*/

#rodape {
    text-align: center;
    padding: 15px;
    background: #CCC;
    clear: both;
}