/*Limpando as formatações Padrões*/

*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

/*Area do Cabeçalho*/

#area-cabecalho {
    background: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo {
    padding: 10px;
}

/* Formatação do Menu*/

#area-menu, #area-menu {
    padding: 10px;
}

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco {
    color: white;
}

a:link, a:visited {
    color: #FFF;
}

a:hover {
    color: #f7b600;
}
